<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: header-css" />
</head>

<body>

	<div th:replace="fragments/header :: header" />


	<div class="container">

		<div class="starter-template">

			<div class="row">

				<div>
					<h5 th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</h5>
				</div>	
				
				
			  <!--Menu lateral izquierdo-->
			  <div class="col-12 col-md-2">
			       <ul class="list-group">
			           <li class="list-group-item"><a th:href="@{/getAllEmployees}">Empleados</a></li>
			           <li class="list-group-item"><a th:href="@{/getAllProducts}">Productos</a></li>
			           <li class="list-group-item"><a th:href="@{/showFormSavePurchase}">Comprar</a></li>
				        <li class="list-group-item">
					        <form th:action="@{/logout}" method="post">
					            <input type="submit" class="btn btn-block" value="Cerrar Session"/>
					        </form>
			            </li>
			       </ul>
			  </div>
			  
		  
			  <!--body -->
			  <div class="col-12 col-md-10">
			  			
						<h3>Productos</h3> 
						<table class="table">
							    <thead>
								    <tr>
								    	<th>id</th>
								        <th>Nombre</th>
								        <th>Precio</th>
								        <th>Stock</th>
								    </tr>
							    </thead>
							    <tbody>
								    <tr th:each="product : ${products}">
								        <td th:text="${product.id}"></td>
								        <td th:text="${product.name}"></td>
								        <td th:text="${product.price}"></td>
								        <td th:text="${product.stock}"></td>
	                                    <td>
	                                        <!--a class="btn btn-warning" th:href="@{/modifyEmployee(idEmployee=${employee.id})}">Editar</a-->
	                                        <a class="btn btn-danger" th:href="@{/deleteProduct(idProduct=${product.id})}">Eliminar</a>
	                                    </td>
								    </tr>
							    </tbody>
						</table>
						<!--Boton para agregar un nuevo empleado-->
						<div class="abs-center">
								<a class="btn btn-primary" th:href="@{/showFormSaveProduct}">Agregar Producto</a>
						</div>
			  </div>
	    </div>
    </div>
    
    
		
	<footer>
	        <!--form th:action="@{/logout}" method="post">
	            <input type="submit" value="Cerrar Session"/>
	        </form-->
	</footer>

</div>

</body>
</html>